
*.dart linguist-language=Dart
*.dart linguist-detectable=true


android/ linguist-vendored
ios/ linguist-vendored  
linux/ linguist-vendored
windows/ linguist-vendored
macos/ linguist-vendored
build/ linguist-vendored
cmake-build-*/ linguist-vendored
.dart_tool/ linguist-vendored


pubspec.yaml linguist-language=YAML
pubspec.lock linguist-language=YAML
*.json linguist-language=JSON
*.xml linguist-language=XML
*.md linguist-language=Markdown
*.lock linguist-language=JSON


*.c linguist-vendored
*.cpp linguist-vendored
CMakeLists.txt linguist-vendored
*.cmake linguist-vendored
cmake/ linguist-vendored
*.h linguist-vendored
*.m linguist-vendored
*.swift linguist-vendored


